@import "./main.scss";

#tentang {
  #visi-misi {
    position: relative;
    color: $white;
    background-image: url("../../assets/images/bg-visi-misi.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-size: cover;
    img {
      max-width: 100%;
    }
    .content {
      min-height: 100vh;
      backdrop-filter: blur(15px);
      .wrapper {
        padding: 80px;
      }
      .box {
        margin-top: 50px;
      }
    }
  }
  #video-profile {
    padding: 50px;
    p {
      font-size: 18px;
    }
  }
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .gallery-card {
    text-align: center;
    background-color: $yellow;
    box-shadow: 0px 4px 20px rgba($color: $black, $alpha: 0.25);
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
    margin: 10 20px;
    p {
      margin: 5px;
      color: $white;
    }
  }
}

#kegiatan {
  margin: 50px;
  h2 {
    margin-bottom: 1em;
  }
  .carousel-inner {
    img {
      height: 100%;
      object-fit: cover;
    }
    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
  }
}

.container-responsive {
  height: 200px;
}
@media (min-width: 767.98px) {
  .container-responsive {
    height: 400px;
  }
}
