@import "./main.scss";

.navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#beranda {
  h1 {
    font-weight: bold;
  }
  overflow: hidden;
  #hero-carousel {
    color: $black;
    .carousel-item {
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      .content{
        backdrop-filter: blur(15px);
        height: 100%;
        width: 100%;
      }
      &:nth-child(1) {
        background-image: url("../../assets/images/hero1.jpg");
      }
      &:nth-child(2) {
        background-image: url("../../assets/images/hero2.jpg");
      }
    }
    img {
      filter: blur(5px);
    }
    .row {
      position: absolute;
      top: 0;
      left: 15%;
      right: 15%;
      bottom: 0;
    }
    .center-element {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

#content {
  overflow: hidden;
  .profile-card {
    padding: 50px;
    font-size: 1.5em;
    color: $white;
    margin-bottom: 50px;
    background-color: $yellow;
  }
}

.flip-card {
  height: 400px;
  width: 100%;
  &:hover {
    .card-inner {
      transform: rotateX(180deg);
    }
  }
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    .card-front {
      position: absolute;
      width: 100%;
      height: 100%;
      color: $white;
      font-weight: bold;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 98;
        background-color: rgba($color: $black, $alpha: 0.5);
      }
      .caption {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      background-color: $black;
      color: white;
      transform: rotateX(180deg);
      padding: 50px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (max-width: 575.98px) {
  .profile-card {
    font-size: 0.8rem;
  }
}
