@import "~bootstrap/scss/bootstrap";
@import "./montserrat-font.scss";

/* Variable Section */
$black: #000000;
$blue: #14213d;
$yellow: #fca311;
$grey: #e5e5e5;
$white: #ffffff;

* {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  ::-webkit-scrollbar:vertical {
    width: 12px;
  }
}

html,
body {
  font-family: Montserrat;
  &::-webkit-scrollbar {
    width: 10px;
  }
}
.fadeIn {
  animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
nav {
  background-color: $yellow;
  color: $black;
  font-weight: 600;
  .nav-item {
    padding: 0px 10px;
    .nav-link {
      color: $black !important;
    }
    .active {
      color: $white !important;
    }
  }
  .dropdown {
    position: initial;
    .dropdown-menu {
      border: 2px solid $yellow;
      width: 100%;
      margin: 0;
      text-align: center;
      .dropdown-item {
        display: inline;
        text-align: center;
        font-weight: 600;
        padding: 0px 10px 0px 0px;
        &::before {
          padding-right: 10px;
          content: " | ";
        }
        &:first-child {
          &::before {
            padding-right: 10px;
            content: "";
          }
        }
      }
    }
  }
}
footer {
  .info {
    background-color: $blue;
    padding: 50px 50px;
    color: $white;

    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 18px;
    }
    p,
    .cp {
      font-size: 13px;
      margin: 0;
      padding: 0;
    }
    .cp {
      text-align: right;
      padding: 0;
    }
  }
  .credit {
    background-color: $black;
    text-align: center;
    padding: 10px 0px;
    color: $white;
    p {
      margin: 0;
      font-size: 13px;
    }
  }
}

@media (max-width: 575.98px) {
  .dropdown-item {
    display: block !important;
    word-break: break-word;
    white-space: normal;
  }
}
