@import "./main.scss";

.kategori-produk {
  letter-spacing: 20px;
}

.product-container {
  overflow-y: scroll;
  height: 300px;

  /* Track */
  .product-item {
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
  }
  .active {
    color: $yellow;
  }
}

.product-image {
  width: 100%;
}

.kinerja-list{
  li{
    list-style-type: none;
  }
}
